{% extends 'generic/object.html' %}
{% load helpers %}

{% block content %}
  <div class="row">
    <div class="col col-md-6">
      <div class="card">
        <h2 class="card-header">Access List Rule</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Access List</th>
            <td>{{ object.access_list|linkify }}</td>
          </tr>
          <tr>
            <th scope="row">Index</th>
            <td>{{ object.index }}</td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
        </table>
      </div>
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
    <div class="col col-md-6">
      <div class="card">
        <h2 class="card-header">Details</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Protocol</th>
            <td>{% badge object.get_protocol_display bg_color=object.get_protocol_color %}</td>
          </tr>
          <tr>
            <th scope="row">Source Prefix</th>
            <td>{{ object.source_prefix|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">Source Ports</th>
            <td>
              {% if object.source_ports %}
                {{ object.source_ports|join:", " }}
              {% else %}
                {{ ""|placeholder }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">Destination Prefix</th>
            <td>{{ object.destination_prefix|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">Destination Ports</th>
            <td>
              {% if object.destination_ports %}
                {{ object.destination_ports|join:", " }}
              {% else %}
                {{ ""|placeholder }}
              {% endif %}
            </td>
          </tr>
          <tr>
            <th scope="row">Action</th>
            <td>{% badge object.get_action_display bg_color=object.get_action_color %}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
